.body {
    margin: 0%;
    font-family: sans-serif;
}
* {
    margin: 0%;
}

.header {
    
    display: flex;
    background: #2C6431;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 2;
}
.nav {
    
}
.logo {
    margin-left: 40px;
    margin-top: 3px;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 40px;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 18px;
    text-decoration: none;
    font-size: larger;
    letter-spacing: 1px;
    margin-left: 0px;

    
}
li a:hover {
    background-color: #1B451E;
}
ul {
    list-style-type: none;
    
}
.searchbar {
    position: relative;
}
.input {
    position: absolute;
    top: 0px;
    left: 680px;
    width: 130px;
    height: 30px;
    margin-top: 18px;
    padding-left: 10pxx
}
.button {
    background: white;
    position: absolute;
    left: 700px;
    top:0px;
    width: 35px;
    height: 30px;
    margin-top: 22px;
    margin-left: 72px;
    padding-left: 10px;
    border-style: none;
}


.button1 {
    color: white;
    background: #1a6807;
    font-size: 20px;
    position: absolute;
    left: 753px;
    top:0px;
    width: 35px;
    height: 30px;
    margin-top: 22px;
    margin-left: 80px;
    padding-left: 10px;
    border-style: none;
}
.fstimg {
    width: 100%;
    height: 700px;
}
.img {
    width: 100%;
    height: 100%;
}

.text {
    display: flex;
    position: relative;
    border: 5px solid black;
    width: 120px;
    height: 300px;

}
.ptext {
    color: rgb(252, 247, 247);
    font-family: sans-serif;
    margin-top: -100px;
text-shadow: 0px;
    
    font-size: 60px;
    font-weight: bolder;
    font-stretch: condensed;
    opacity: .7;
}
.productdisplay {
    display: flex;
    width: 100%;
    height: 260px;
    justify-content: center;

}
.prdiv {
        display: flex;
    width: 100%;
    height: 300px;
    border: 1px solid rgb(250, 249, 249);
    background: black;

}
.prtext {
    
    margin-top: 20px;
    margin-left: 100px;
    font-size: 25px;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    
}
.im {
    
    margin-left: 105px;
    margin-top: 60px;
width: 100%;
height: 100%;
}
.men {
    width: 100px;
    height: 100px;
    margin-left: 0px;
}
.women {
    width: 100px;
    height: 100px;
}
.ap {
    width: 100px;
    height: 100px;
}
.acc {
    width: 100px;
    height: 100px;
}
.lnk {

    text-decoration: none;
}
.prdiv:hover {
    background-color: #1a6807;
}
.sndimg {
    width: 100%;
    height: 415px;

}


.sndimg1 {
    width: 100%;
    height: 100%;
}
.sndimgdiv2 {
    display: grid;
    grid-template-columns: 50% 50%;
}
.headt {
    position: absolute;
    height: 200px;
    width: 550px;
}
.h11 {
    font-family:sans-serif;
    font-size: 40px;
    position: relative;
    top: 55px;
    left: 645px;
    color: white;
    font-weight: 100;
    letter-spacing: 8px;
}
.snd_h11 {
    font-family: sans-serif;
    font-size: 70px;
    position: relative;
    top: 38px;
    left: 640px;
    color: white;
    font-weight: 100;
    letter-spacing: 8px;
    font-stretch: extra-condensed;

}
.parac {
    position: relative;
    font-size: 25px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: px;
    top: 50px;
    left: 645px;
}
.b {
    position: relative;
    background-color: #2C6431;
    border: none;
    color: white;
    padding: 27px 115px;
    
    text-decoration: none;
    
    font-size: 20px;
    margin: 0px 0px;
    cursor: pointer;
    top: 65px;
    left: 665px;
}
.expl {
    position: relative;
    font-size: 25px;
    color: white;
    font-family:  Calibri;
    letter-spacing: px;
    top:23px;
    left: 720px;
}
.headt1 {
    position: absolute;
    height: 200px;
    width: 271px;
    margin-top: -32px;
    margin-left: -312px;
    padding-left: -10px;
    padding-top: 10px;

}
.headt2 {
    position: absolute;
    height: 194px;
    width: 236px;
    margin-top: -38px;
    margin-left: -317px;
    padding-left: -10px;
    padding-top: 0px;
}

.data1 {
    position: absolute;
}
.h2,.parad,.h1 {
    position: relative;
    top: 70px;
    left: 700px;
    color: white;
    font-size: 60px;
    font-family: sans-serif;
}
.parad {
width: 400px;
height: 300px;
font-size: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.b3 {
    position: relative;
    background-color: #2C6431;
    border: none;
    color: white;
    padding: 27px 115px;
    
    text-decoration: none;
    
    font-size: 20px;
    margin: 0px 0px;
    cursor: pointer;
    top: -47px;
    left: 721px;
}

.expl3 {
    position: relative;
    font-size: 25px;
    color: white;
    font-family:  Calibri;
    letter-spacing: px;
    top: -90px;
    left: 766px;
}


.data2 {
    position: absolute;
}
.h3,.paradi,.h4 {
    position: relative;
    top: 70px;
    left: 700px;
    color: white;
    font-size: 60px;
    font-family: sans-serif;

}
.paradi {
    width: 400px;
    height: 300px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .b5 {
        background: rgb(5, 77, 5);
        position: absolute;
        left: 700px;
        top:0px;
        width: 35px;
        height: 30px;
        margin-top: 22px;
        margin-left: 72px;
        padding-left: 10px;
        border-style: none;
    }
    .expl5 {
        position: relative;
        font-size: 25px;
        color: white;
        font-family:  Calibri;
        letter-spacing: px;
        top:23px;
        left: 753px;
    }
    .paradi {
        position: absolute;
        font-size: 17px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: px;
        top: 250px;
        left: 104px;
    }
    .h3,.h4 {
        position: absolute;
        left: 98px;
        top: 10px;
    }

.h4 {
    margin-top: 50px;
}



.bottom {
    position: relative;
    width: 100%;
    height: 713px;
    background: black;
}


.phead1,.phead2,.phead {
    position: absolute;
    top: 10px;
    color: white;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.phead {
    margin-top: 10px;
    font-size: 50px;
    margin-top: 10px;

}
.phead1 {
    position: absolute;
    top: 80px;
    left: 20px;
}
.phead2 {
    position: absolute;
    top: 108px;
    left: 20px;
}
.d {
    margin-top: 140px;
    margin-left: 15px;
}
.d1 {
    margin-top: 16px;
    margin-left: 15px;
}
